<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdnaJbDoF1LkOj9zxHBVyLT1rjsUdT0kE</string>
	<key>GCM_SENDER_ID</key>
	<string>565479569109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naariman.olympIt</string>
	<key>PROJECT_ID</key>
	<string>olympit-eeff6</string>
	<key>STORAGE_BUCKET</key>
	<string>olympit-eeff6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565479569109:ios:68160307b3a8db5c57d45c</string>
</dict>
</plist>